<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>2EA6E2FE-63A0-491C-B35A-AA8CABD76F03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79DC95A2-3E0E-4727-B14C-E61A2268E9C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3205DE00-9E3E-4253-A5EA-356EB7CABD46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59B10250-F7C2-4FEA-9F38-8FA20819A64F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E090A1C-632A-450C-AE9C-6522E84FCD7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADB80D08-5230-4A6D-8191-DC315F5FADFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59B10250-F7C2-4FEA-9F38-8FA20819A64F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F958FCBA-3A83-4A46-8232-86C0A89B9A84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FE4ED0C-1FDF-473F-9AF1-3C01B5F8FB6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DB49924-4249-459C-9496-5E52E69E438B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>657B459D-07F8-43E7-ABF6-5F8718989E18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E090A1C-632A-450C-AE9C-6522E84FCD7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0B5F66D-75E0-49E6-B513-779E4DD38D44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5FFE1AC-24C4-4163-8AA2-BBF56472BDA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5FFE1AC-24C4-4163-8AA2-BBF56472BDA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BA36EAE-54F8-4F09-9103-6ED6DD9F4702</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B64A051D-FAA4-453F-A727-70517806526B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEF519CB-6D8D-4313-972A-F20BB76F6F83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D997EE82-2D14-4B12-9C43-59A0E15FE01E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B64A051D-FAA4-453F-A727-70517806526B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6B5E1B1-E6D5-43D2-8993-A39C45EB39EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E36BE5B-2C46-463E-83A9-CC1E924A820F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>misc</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F958FCBA-3A83-4A46-8232-86C0A89B9A84</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>date</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Paste current date</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3205DE00-9E3E-4253-A5EA-356EB7CABD46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "$(/opt/homebrew/opt/coreutils/libexec/gnubin/date +%Y-%m-%d)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>59B10250-F7C2-4FEA-9F38-8FA20819A64F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>datets</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Paste current date in timestamp format</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D997EE82-2D14-4B12-9C43-59A0E15FE01E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FEF519CB-6D8D-4313-972A-F20BB76F6F83</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export TZ=UTC
echo -n "$(/opt/homebrew/opt/coreutils/libexec/gnubin/date --iso=second | cut -d+ -f1)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B64A051D-FAA4-453F-A727-70517806526B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ADB80D08-5230-4A6D-8191-DC315F5FADFE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>datetb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Paste current date in Timebase format</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>657B459D-07F8-43E7-ABF6-5F8718989E18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export TZ=UTC
echo -n "$(/opt/homebrew/opt/coreutils/libexec/gnubin/date --iso=second | cut -d+ -f1)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E090A1C-632A-450C-AE9C-6522E84FCD7E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>headphones</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Connect the headphones</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2EA6E2FE-63A0-491C-B35A-AA8CABD76F03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/opt/homebrew/bin/blueutil --connect 88-c9-e8-ee-d9-b3</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79DC95A2-3E0E-4727-B14C-E61A2268E9C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>disk=$(diskutil list external | grep SanDisk | awk '{print $7}' | sed 's/s[1-9]*$//g')
diskutil eject $disk</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5FFE1AC-24C4-4163-8AA2-BBF56472BDA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4BA36EAE-54F8-4F09-9103-6ED6DD9F4702</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>remove-sandisk</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Eject SanDisk</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B0B5F66D-75E0-49E6-B513-779E4DD38D44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>yoink</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add current clipboard to Yoink</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E6B5E1B1-E6D5-43D2-8993-A39C45EB39EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>name="{query}"
if [[ -z $name ]]; then
    name="clipboard"
fi
echo "name: $name"

# 2. Create temp file
file=$(mktemp -d)/"${name}.txt"
echo "file: $file"

# 3. Dump clipboard
pbpaste &gt; "$file"

# 4. If &gt;10 MB, gzip and Yoink the gzipped copy
if [[ $(stat -f%z "$file") -gt $((10 * 1024 * 1024)) ]]; then
    gzfile="${file}.gz"
    gzip -c "$file" &gt; "$gzfile"
    open -a Yoink "$gzfile"
fi

# 5. Always Yoink the plain-text copy
open -a Yoink "$file"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E36BE5B-2C46-463E-83A9-CC1E924A820F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://youtu.be/ZiiT7YE-ZRA?t=1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4DB49924-4249-459C-9496-5E52E69E438B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>timer</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Tabata timer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5FE4ED0C-1FDF-473F-9AF1-3C01B5F8FB6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2EA6E2FE-63A0-491C-B35A-AA8CABD76F03</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>3205DE00-9E3E-4253-A5EA-356EB7CABD46</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>3E090A1C-632A-450C-AE9C-6522E84FCD7E</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>3E36BE5B-2C46-463E-83A9-CC1E924A820F</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>4BA36EAE-54F8-4F09-9103-6ED6DD9F4702</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>4DB49924-4249-459C-9496-5E52E69E438B</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>59B10250-F7C2-4FEA-9F38-8FA20819A64F</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>5FE4ED0C-1FDF-473F-9AF1-3C01B5F8FB6B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>657B459D-07F8-43E7-ABF6-5F8718989E18</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>79DC95A2-3E0E-4727-B14C-E61A2268E9C4</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>ADB80D08-5230-4A6D-8191-DC315F5FADFE</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>B0B5F66D-75E0-49E6-B513-779E4DD38D44</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>B5FFE1AC-24C4-4163-8AA2-BBF56472BDA4</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>B64A051D-FAA4-453F-A727-70517806526B</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>D997EE82-2D14-4B12-9C43-59A0E15FE01E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>E6B5E1B1-E6D5-43D2-8993-A39C45EB39EE</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>F958FCBA-3A83-4A46-8232-86C0A89B9A84</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>FEF519CB-6D8D-4313-972A-F20BB76F6F83</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
