[core]
	excludesfile = ~/.gitignore_global
	pager = less -x1,5
[alias]
	undo = reset --soft HEAD~1
	squash-all = "!~/bin/squash.sh"
    co = commit
    owners = "!~/bin/git-owners.sh"

[include]
    path = ~/.gitconfig_local
