*.sw[op]
*.DS_Store
*.pyc
__pycache__/
vault
terraform
.config/thefuck/rules/__pycache__/
*github-url
terraform-docs
semver
gitbrowse
checkov2vim
.build
githubactions-docs
super-linter.log
zoi
nake
stacks
.terraform/*
.local
.bash-my-aws
.vscode
