[core]
	excludesfile = ~/.gitignore_global
	pager = less -x1,5
[alias]
	undo = reset --soft HEAD~1
	squash-all = "!~/bin/squash.sh"
    co = commit
    owners = "!~/bin/git-owners.sh"

[user]
	email = mhristof@gmail.com
	name = Mike Christofilopoulos

[include]
    path = ~/.gitconfig_local

[includeIf "gitdir:~/code/github/"]
   path = .gitconfig_github

[includeIf "gitdir:~/dotfiles"]
   path = .gitconfig_github
