[core]
	excludesfile = ~/.gitignore_global
	pager = less -x1,5
[alias]
	undo = reset --soft HEAD~1
	squash-all = "!~/bin/squash.sh"
    co = commit
    owners = "!~/bin/git-owners.sh"

[user]
	email = mhristof@gmail.com
	name = Mike Christofilopoulos


[includeIf "gitdir:~/code/github/"]
   path = .gitconfig.github

[includeIf "gitdir:~/dotfiles/"]
   path = .gitconfig.github

[includeIf "gitdir:~/go/src/github.com/"]
   path = .gitconfig.github

[includeIf "gitdir:~/.vim/"]
   path = .gitconfig.github

[include]
    path = ~/.gitconfig.local
